# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*

node_modules/
*/service/logs/*
!*/service/logs/.gitkeep

*/express/upload/img/*
!*/express/upload/img/.gitkeep

mocks/*
!mocks/.gitkeep

mock.json
src/test
test.http

# Файл с переменными окружения
.env

# Папка с собранными файлами проекта
build/
